


    body{
        background-color:lightseagreen;
    }


    .TeamMembers{
        font-family: "Lucida Console", "Courier New", monospace;
        position:absolute;
        top:20%;
        font-size:27px;
        left:5%;

        width: 90%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: center;
        background-color:white;
        border-radius:20px;

    }
    .twitter{
        position:absolute;
        top:70%;
        height:880px;
        width:90%;
        left:4%;


    }

    .AboutUs{
        font-family: "Lucida Console", "Courier New", monospace;
        position:absolute;
        top:43%;
        font-size:27px;
        left:5%;
        width: 90%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: center;
        background-color:white;
        border-radius:20px;
    }


    .NotesText{
        font-family: "Lucida Console", "Courier New", monospace;
        position:absolute;
        font-size:25px;
        top:13%;
    }
    ul {

        margin: 0;
        padding: 0;
        border-radius:20px;
        background-color: black;
        width:100%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: center;
    }


    li a {

        display: block;
        color: white;
        font-size:30px;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover {
        background-color: lightblue;
    }

    .Instagram{
        position:absolute;
        top:30%;
        left:17%;


    }

    .Instagramtext{
        position:absolute;
        font-style: oblique;
        font-size:60px;
        left:13%;
        top:20%
    }

    .facebook{
        position:absolute;
        top:73%;
        left:17%;

    }




    .facebooktext{
        position:absolute;
        font-style: oblique;
        font-size:60px;
        left:15%;
        top:65%;
    }

    .challenges{
        position:absolute;
        font-size:30px;
        border-left: 6px solid blue;
        background-color: lightblue;
        top:37%;
        left:28%;
    }

    .challenges1{
        position:absolute;
        text-decoration:none;
        font-size:40px;
        top:65%;
    }

    .refreshBTN{
        position:absolute;
        top:39%;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        background-color:lightblue;
        border-radius:10px;
        color: black;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 18px;
        margin: 4px 7px;

    }
    .allchallenges{
        position:absolute;
        left:27%;
        top:24%;
        font-size:19px;
    }

    .start{
        font-family: "Lucida Console", "Courier New", monospace;
        position:absolute;
        top:13%;
        left:37%;
    }

    .entername{
        position:absolute;
        font-family: "Lucida Console", "Courier New", monospace;

        top:20%;
        left:5%;
    }

    .NickName{
        font-family: "Lucida Console", "Courier New", monospace;
        position:absolute;
        font-size:20px;
        top:30%;
        left:16%;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        background-color:darkblue;
        border-radius:10px;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        margin: 4px 7px;
    }

    .startbutton{
        position:absolute;
        font-size:30px;
        left:30%;
        top:160%;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        background-color:lightblue;
        border-radius:10px;
        color: black;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        margin: 4px 7px;
    }

    .score{
        top:20%;
        left:40%;
        position:absolute;
        font-size:30px;
    }

    .qnum{
        top:25%;
        left:25%;
        position:absolute;
        font-size:30px;
    }

    .questiontext{
        top:30%;
        text-align:center;
        position:absolute;
        font-size:23px;
    }

    .skipbutton{
        position:absolute;
        font-size:20px;
        left:36%;
        top:57%;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        background-color:blue;
        border-radius:20px;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        margin: 4px 7px;
    }

    .ans{
        position:absolute;
        top:45%;
        text-align:center;
        font-size:30px;
    }

    .answerbox{
        position:absolute;
        top:40%;
        left:32%;
    }






